<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoEP01Sanchez"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".LocalesMapLocationActivity"
            android:exported="false"
            android:label="@string/title_activity_locales_map_location"
            android:theme="@style/Theme.ProyectoEP01Sanchez" />
        <activity
            android:name=".LocalesMapActivity"
            android:exported="false"
            android:label="@string/title_activity_locales_map"
            android:theme="@style/Theme.ProyectoEP01Sanchez" />
        <activity
            android:name=".maps.MapsLocalesActivity"
            android:exported="false"
            android:label="@string/title_activity_maps_locales"
            android:theme="@style/Theme.ProyectoEP01Sanchez" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyByirS0TRZFEh3cLfRcjeF9Ty7sLiuFOxc" />

        <activity
            android:name=".localesROOM.AlertDesignActivity"
            android:exported="false"
            android:label="@string/title_activity_alert_design"
            android:theme="@style/Theme.ProyectoEP01Sanchez" />
        <activity
            android:name=".localesROOM.LocalesUpdateRoomActivity"
            android:exported="false"
            android:label="@string/title_activity_locales_update_room"
            android:theme="@style/Theme.ProyectoEP01Sanchez" />
        <activity
            android:name=".localesROOM.LocalesInsertRoomActivity"
            android:exported="false"
            android:label="@string/title_activity_locales_insert_room"
            android:theme="@style/Theme.ProyectoEP01Sanchez" />
        <activity
            android:name=".localesROOM.LocalesRoomActivity"
            android:exported="false"
            android:label="@string/title_activity_locales_room"
            android:theme="@style/Theme.ProyectoEP01Sanchez" />
        <activity
            android:name=".UserUpdateActivity"
            android:exported="false"
            android:label="@string/title_activity_user_update"
            android:theme="@style/Theme.ProyectoEP01Sanchez" />
        <activity
            android:name=".UserInsertActivity"
            android:exported="false"
            android:label="@string/title_activity_user_insert"
            android:theme="@style/Theme.ProyectoEP01Sanchez" />
        <activity
            android:name=".UserActivty"
            android:exported="false"
            android:label="@string/title_activity_user_activty"
            android:theme="@style/Theme.ProyectoEP01Sanchez" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.ProyectoEP01Sanchez" />
        <activity
            android:name=".PaisesInsertActivity"
            android:exported="false"
            android:label="@string/title_activity_paises_insert"
            android:theme="@style/Theme.ProyectoEP01Sanchez" />
        <activity
            android:name=".DetalleActivity"
            android:exported="false"
            android:label="@string/title_activity_detalle"
            android:theme="@style/Theme.ProyectoEP01Sanchez" />
        <activity
            android:name=".PaisesActivity"
            android:exported="false"
            android:label="@string/title_activity_paises"
            android:theme="@style/Theme.ProyectoEP01Sanchez" />
        <activity
            android:name=".MaestroActivity"
            android:exported="false"
            android:label="@string/title_activity_maestro"
            android:theme="@style/Theme.ProyectoEP01Sanchez" />
        <activity
            android:name=".LocalesActivity"
            android:exported="false"
            android:label="@string/title_activity_locales"
            android:theme="@style/Theme.ProyectoEP01Sanchez" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/title_activity_splash"
            android:theme="@style/Theme.ProyectoEP01Sanchez">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:label="@string/title_activity_about"
            android:theme="@style/Theme.ProyectoEP01Sanchez" />
        <activity
            android:name=".FoodActivity"
            android:exported="false"
            android:label="@string/title_activity_food"
            android:theme="@style/Theme.ProyectoEP01Sanchez" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.ProyectoEP01Sanchez" />
    </application>

</manifest>